<head>
  <title>Admin Panel</title>
</head>
<%= link_to "Back to Home Page", tickers_path %>
<center>
<h1>Central Admin Panel</h1>
<p>
  <h3><%= link_to "Users Panel", admin_users_path %></h3>
</p>
<p>
  <h3><%= link_to "Tickers Panel", admin_tickers_path %></h3>
</p>
<p>
  <h3><%= link_to "Pages Panel", admin_pages_path %></h3>
</p>
<p>
  <h3><%= link_to "Terms Panel", admin_terms_path %></h3>
</p>
</center>
