<head>
  <script src="jquery-1.11.1.min.js"></script>
</head>

<div style="text-align: right; display:inline-block; float:right">
  <%= form_for search_path, method: :get do |f| %>
    <%= f.label "Stock Search:", :class => 'search_label' %>
    <%= text_field_tag :q, params[:q], :class => 'search_field' %>
    <%= button_tag "Search", name: nil, :class => 'search_button' %>
  <% end %>
</div>

<% if params[:q] and params[:q] != "" %>
  <br />
  <center><h2>Search Results for "<%= params[:q] %>"</h2>
  <% if @tickers %>
    <% @tickers.each do |ticker| %>
      <br />
      <%= link_to "#{ticker.symbol} (#{ticker.name})", ticker_path(ticker)%>
      <br />
    <% end %>
  <% end %>
  </center><br />

<% else %>
<div style="display:inline-block; margin: 10px 0 0 10px; text-align: left; width: 300px; height: 55px; border: 1px solid white; padding: 5px;">
  <table style="font-weight: bold">
    <col width="150">
    <col width="200">
    <tr>
      <td style="text-align: center">NASDAQ</td>
      <td class=<% if $nasdaq_data[2].split(" - ")[1].to_f >= 0 %> "green" <% end %>><%= number_with_delimiter($nasdaq_data[0].to_f.round(1),  :precision => 1, :delimiter => ',') %> (<% if $nasdaq_data[2].split(" - ")[1].to_f >= 0 %>↑<% end %><%= $nasdaq_data[2].split(" - ")[1].to_f.round(1) %>%)</td>
    <tr>
    <tr>
      <td style="text-align: center">S&P 500</td>
      <td class=<% if $sp_data[2].split(" - ")[1].to_f >= 0 %> "green" <% end %>><%= number_with_delimiter($sp_data[0].to_f.round(1),  :precision => 1, :delimiter => ',') %> (<% if $sp_data[2].split(" - ")[1].to_f >= 0 %>↑<% end %><%= $sp_data[2].split(" - ")[1].to_f.round(1) %>%)</td>
    <tr>
  </table>
</div>

<center><h1>Stocks by Movement</h1></center>
<div class="display_table">
  <div class="table-head">Active Stocks (by Volume)</div>
    <table>
      <col width="120">
      <col width="60">
      <col width="60">
      <col width="120">
      <tr>
        <th>Ticker</th>
        <th colspan="2">Price</th>
        <th>Volume</th>
      </tr>
      <% Ticker.order(volume_cmp: :desc).limit(4).each do |ticker| %>
      <tr>
        <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
        <td style="text-align: right"><%= ticker.price %> </td>
        <td><span class=<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>>(<%= ticker.daily_change %>%)</span></td>
        <td style="text-align: center"><%= ticker.volume %>M <font size="1px">(avg. <%= ticker.volume_avg %>M)</font></td>
      </tr>
      <% end %>
    </table>
</div>

<div class="display_table">
  <div class="table-head">Active Stocks (by Price Change)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Volume</th>
    </tr>
    <% Ticker.order(daily_change_abs: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.volume %>M <font size="1px">(avg. <%= ticker.volume_avg %>M)</font></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="display_table">
  <div class="table-head">Value Stocks (by P/E and P/B)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="60">
    <col width="60">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>P/E</th>
      <th>P/B</th>
    </tr>
    <% Ticker.order(pe_peb_avg: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><% if ticker.pe %><%= ticker.pe %><% else %>--<% end %></td>
      <td style="text-align: center"><%= ticker.peb %></td>
    </tr>
    <% end %>
  </table>
</div>


<div class="display_table">
  <div class="table-head">Momentum Stocks</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="60">
    <col width="60">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th colspan="2">50-Day M.A.</th>
    </tr>
    <% Ticker.order(mov_avg_50_cmp: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: right"><%= ticker.mov_avg_50 %></td>
      <td><span class="<% if ticker.mov_avg_50_cmp >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.mov_avg_50_cmp %>%)</span></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="display_table">
  <div class="table-head">Volatile Stocks</div>
  <table>
    <col width="120">
    <col width="50">
    <col width="50">
    <col width="50">
    <col width="100">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>β</th>
      <th>52W Range</th>
    </tr>
    <% Ticker.where("daily_change_abs > ?", 1).order(daily_annual_change_avg: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.beta %></td>
      <td>(<%= ticker.low_52 %> - <%= ticker.high_52 %>)</td>
    </tr>
    <% end %>
  </table>
</div>

<div class="display_table">
  <div class="table-head">Small Cap Stocks</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="60">
    <col width="60">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Cap</th>
      <th>P/E</th>
    </tr>
    <% Ticker.where("market_cap_num < ?", 5000000000).order(daily_change_abs: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
      <td style="text-align: center"><% if ticker.pe %><%= ticker.pe %><% else %>--<% end %></td>
    </tr>
    <% end %>
  </table>
</div>

<center><h1 style="clear: both"><br />Stocks by Sector</h1></center>
<div class="display_table">
  <div class="table-head">Tech (Strong Performers)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Tech").order(daily_change: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head">Finance (Strong Performers)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Finance").order(daily_change: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head">Energy (Strong Performers)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Energy").order(daily_change: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<br />
<div class="display_table">
  <div class="table-head">Tech (Weak Performers)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Tech").order(daily_change: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head">Finance (Weak Performers)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Finance").order(daily_change: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head">Energy (Weak Performers)</div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Energy").order(daily_change: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<br />
<% end %>
