<head>
  <script src="jquery-1.11.1.min.js"></script>
</head>

<div style="text-align: right; display: inline-block; float:right">
  <%= form_for search_path, method: :get do |f| %>
    <%= f.label "Stock Search:", :class => 'search_label' %>
    <%= text_field_tag :q, params[:q], :class => 'search_field' %>
    <%= button_tag "Search", name: nil, :class => 'search_button' %>
  <% end %>
</div>

<% if params[:q] and params[:q] != "" %>
  <%= link_to "Back to Home Page", root_path %>
  <br />
  <center><h2>Search Results for "<%= params[:q] %>"</h2>
  <% if @tickers %>
    <% @tickers.each do |ticker| %>
      <br />
      <%= link_to "#{ticker.symbol} (#{ticker.name})", ticker_path(ticker)%>
      <br />
    <% end %>
  <% end %>
  </center><br />

<% else %>
<div id="index-stats">
  <table style="font-weight: bold">
    <col width="150">
    <col width="200">
    <tr>
      <td class="center">NASDAQ</td>
      <td class="nasdaq"><%= number_with_delimiter(@nasdaq_price,  :precision => 1, :delimiter => ',') %>
        (<% if @nasdaq_change >= 0 %>↑<% end %><%= @nasdaq_change %>%)</td>
      <% if @nasdaq_change >= 0 %>
        <script>$(".nasdaq").addClass("green")</script>
      <% else %>
        <script>$(".nasdaq").addClass("red")</script>
      <% end %>
    </tr>
    <tr>
      <td class="center">S&P 500</td>
      <td class="sp"><%= number_with_delimiter(@sp_price,  :precision => 1, :delimiter => ',') %>
        (<% if @sp_change >= 0 %>↑<% end %><%= @sp_change %>%)</td>
        <% if @sp_change >= 0 %>
          <script>$(".sp").addClass("green")</script>
        <% else %>
          <script>$(".sp").addClass("red")</script>
        <% end %>
    </tr>
  </table>
</div>

<center><h1>Stocks by Movement</h1></center>
<div class="display_table" style="clear: left">
  <div class="table-head"><%= link_to "Active Stocks (by Volume)", page_path(Page.find_by(title: "Active Stocks (by Volume)")) %></div>
    <table>
      <col width="120">
      <col width="60">
      <col width="60">
      <col width="120">
      <tr>
        <th>Ticker</th>
        <th colspan="2">Price</th>
        <th>Volume</th>
      </tr>
      <% Ticker.order(volume_cmp: :desc).limit(4).each do |ticker| %>
      <tr>
        <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
        <td style="text-align: right"><%= ticker.price %> </td>
        <td><span class=<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>>(<%= ticker.daily_change %>%)</span></td>
        <td style="text-align: center"><%= ticker.volume %>M <font size="1px">(avg. <%= ticker.volume_avg %>M)</font></td>
      </tr>
      <% end %>
    </table>
</div>

<div class="display_table">
  <div class="table-head"><%= link_to "Active Stocks (by Price Change)", page_path(Page.find_by(title: "Active Stocks (by Price Change)")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Volume</th>
    </tr>
    <% Ticker.order(daily_change_abs: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.volume %>M <font size="1px">(avg. <%= ticker.volume_avg %>M)</font></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="display_table">
  <div class="table-head"><%= link_to "Value Stocks (by P/E and P/B)", page_path(Page.find_by(title: "Value Stocks")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="60">
    <col width="60">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>P/E</th>
      <th>P/B</th>
    </tr>
    <% Ticker.order(pe_peb_avg: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><% if ticker.pe %><%= ticker.pe %><% else %>--<% end %></td>
      <td style="text-align: center"><%= ticker.peb %></td>
    </tr>
    <% end %>
  </table>
</div>


<div class="display_table">
  <div class="table-head"><%= link_to "Momentum Stocks", page_path(Page.find_by(title: "Momentum Stocks")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="60">
    <col width="60">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th colspan="2">50-Day M.A.</th>
    </tr>
    <% Ticker.order(mov_avg_50_cmp: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: right"><%= ticker.mov_avg_50 %></td>
      <td><span class="<% if ticker.mov_avg_50_cmp >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.mov_avg_50_cmp %>%)</span></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="display_table">
  <div class="table-head"><%= link_to "Volatile Stocks", page_path(Page.find_by(title: "Volatile Stocks")) %></div>
  <table>
    <col width="120">
    <col width="50">
    <col width="50">
    <col width="50">
    <col width="110">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>β</th>
      <th>52W Range</th>
    </tr>
    <% Ticker.where("daily_change_abs > ?", 1).order(daily_annual_change_avg: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.beta %></td>
      <td>(<%= ticker.low_52 %> - <%= ticker.high_52 %>)</td>
    </tr>
    <% end %>
  </table>
</div>

<div class="display_table">
  <div class="table-head"><%= link_to "Small Cap Stocks", page_path(Page.find_by(title: "Small Cap Stocks")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="60">
    <col width="60">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Cap</th>
      <th>P/E</th>
    </tr>
    <% Ticker.where("market_cap_num < ?", 5000000000).order(daily_change_abs: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %></td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
      <td style="text-align: center"><% if ticker.pe %><%= ticker.pe %><% else %>--<% end %></td>
    </tr>
    <% end %>
  </table>
</div>

<center><h1 style="clear: both"><br />Stocks by Sector</h1></center>
<div class="display_table">
  <div class="table-head"><%= link_to "Tech (Strong Performers)", page_path(Page.find_by(title: "Tech Stocks")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Tech").order(daily_change: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head"><%= link_to "Finance (Strong Performers)", page_path(Page.find_by(title: "Finance Stocks")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Finance").order(daily_change: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head"><%= link_to "Energy (Strong Performers)", page_path(Page.find_by(title: "Energy Stocks")) %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Energy").order(daily_change: :desc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<br />
<div class="display_table">
  <div class="table-head"><%= link_to "Tech (Weak Performers)", page_path(Page.find_by(title: "Tech Stocks"), anchor: "bottom") %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Tech").order(daily_change: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head"><%= link_to "Finance (Weak Performers)", page_path(Page.find_by(title: "Finance Stocks"), anchor: "bottom") %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Finance").order(daily_change: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="display_table">
  <div class="table-head"><%= link_to "Energy (Weak Performers)", page_path(Page.find_by(title: "Energy Stocks"), anchor: "bottom") %></div>
  <table>
    <col width="120">
    <col width="60">
    <col width="60">
    <col width="120">
    <tr>
      <th>Ticker</th>
      <th colspan="2">Price</th>
      <th>Market Cap</th>
    </tr>
    <% Ticker.where("sector = ?", "Energy").order(daily_change: :asc).limit(4).each do |ticker| %>
    <tr>
      <td><%= link_to ticker.symbol, ticker_path(ticker) %> <font size="1px">(<%= ticker.name %>)</font></td>
      <td style="text-align: right"><%= ticker.price %> </td>
      <td><span class="<% if ticker.daily_change >= 0 %> <%= "green" %> <% else %> <%= "red" %> <% end %>">(<%= ticker.daily_change %>%)</span></td>
      <td style="text-align: center"><%= ticker.market_cap %></td>
    </tr>
    <% end %>
  </table>
</div>
<br />
<% end %>
